
.container {
  position: absolute;
  z-index: 0;
  display: grid;
  @media (max-width: 1024px) {
    grid-template-rows: 20% 50% 30%;
    grid-template-areas:"nav"
                      "main"
                      "footer";
  }
  @media (min-width: 1024px) {
    grid-template-rows: 20% 50% 30%;
    grid-template-columns: 55% 45%;
    grid-template-areas:"nav     aside"
                      "main aside"
                      "footer   aside";

  }
  height: 100%;
  width: 100%;

  .navbar {
    grid-area: nav;
    align-self: center;
    justify-self: center;
    width: 100%;


    &__content {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 100%;


      img {
        margin-left: 50px;
        width: 80px;
      }

      ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        width: 100%;
        @media (min-width: 100px) and (max-width: 580px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          place-items: center;
          text-align: center;
        }

        li {
          font-size: 1.2rem;
          list-style: none;
        }

        transform: translateY(-200px);
        animation: nav 2s 1.5s ease-in-out;
        animation-fill-mode: forwards;
      }

      @keyframes nav {
        0% {

          transform: translateY(-200px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }

  }

  .main {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;

    &-content {
      grid-area: main;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      @media (max-width: 1024px) {
        //align-items: center;

      }

      p:first-child {

        padding: 0 0 0 70px;
        margin: 0;
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 2.2rem;

      }

      h1 {
        padding-left: 50px;

        margin: 0;
        font-weight: 900;
        font-size: 3.2rem;
      }

      p:last-child {
        padding-left: 50px;

        padding-top: 25px;
        width: 50%;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;

      }
    }

  }
}
